/* foundation */
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap");
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  background-color: #EAF5F5;
  font-family: "Zen Old Mincho", serif;
  font-size: 62.5%;
}

a {
  cursor: pointer;
}

/* layout */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header .l-header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vw 4vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 1080px) {
  header .l-header {
    display: none;
  }
}
header .l-header a {
  width: 100%;
  cursor: pointer;
}
header .l-header__logo {
  width: 20%;
}
header .l-header__logo img {
  width: 80px;
  height: 64px;
}
header .l-header__nav {
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}
header .l-header__nav-list {
  margin: 0 0 0 1.5rem;
}

.l-header__ham-logo {
  width: 20%;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: -1;
}
.l-header__ham-logo img {
  width: 80px;
  height: 64px;
}
@media screen and (min-width: 1079px) {
  .l-header__ham {
    display: none;
  }
}
.l-header__ham #menu__toggle {
  opacity: 0;
}
.l-header__ham #menu__toggle:checked ~ .menu__btn {
  border: 1px solid #fff;
}
.l-header__ham #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 35px;
  position: absolute;
  right: 7px;
}
.l-header__ham #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background: #fff;
}
.l-header__ham #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #fff;
}
.l-header__ham #menu__toggle:checked ~ .menu__content {
  visibility: visible;
  right: 0;
  z-index: -1;
}
.l-header__ham .menu__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border: 1px solid #2F9B9B;
  cursor: pointer;
  z-index: 999;
}
.l-header__ham .menu__btn .menu__btn__bar, .l-header__ham .menu__btn .menu__btn__bar::before, .l-header__ham .menu__btn .menu__btn__bar::after {
  display: block;
  position: absolute;
  right: 7px;
  width: 100%;
  width: 35px;
  height: 1px;
  background-color: #2F9B9B;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.l-header__ham .menu__btn .menu__btn__bar::before, .l-header__ham .menu__btn .menu__btn__bar::after {
  content: "";
}
.l-header__ham .menu__btn .menu__btn__bar::before {
  top: -8px;
  left: 0;
  content: "";
}
.l-header__ham .menu__btn .menu__btn__bar::after {
  top: 8px;
  left: 0;
  content: "";
}
.l-header__ham .menu__content {
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 300px;
  height: 100%;
  display: block;
  right: -100%;
  margin: 0;
  padding: 12rem 0;
  list-style: none;
  background-color: #2F9B9B;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.l-header__ham .menu__content-text {
  display: block;
  padding: 12px 34px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.l-header__ham .menu__content-text a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}

footer .l-footer {
  width: 100%;
  background: pink;
  color: white;
  text-align: center;
  padding: 2vw;
}

.l-Tblog {
  width: 100%;
  height: 100%;
  position: relative;
}
.l-Tblog::after {
  content: "";
  position: absolute;
  top: 0;
  width: 85%;
  height: 100%;
  background: #fff;
  opacity: 0.2;
  right: 0;
  z-index: -1;
}
.l-Tblog::before {
  content: "";
  position: absolute;
  top: 1vw;
  width: 85%;
  height: 100%;
  background: #FFE8B7;
  opacity: 0.3;
  right: 1vw;
  z-index: -2;
}
.l-Tblog__wrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 0 auto;
  padding: 4vw 4vw 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.l-Tblog__wrap-ttl {
  font-size: 2.4vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin: 0 5vw 0 0;
  position: relative;
  letter-spacing: 0.8%;
  color: #2F9B9B;
  border-radius: 5px;
  letter-spacing: 0.2rem;
}
.l-Tblog__wrap-ttl::after {
  content: "";
  width: 3px;
  height: 2vw;
  position: absolute;
  right: 1.5vw;
  top: 8vw;
  background: #2F9B9B;
  border-radius: 5px;
}
.l-Tblog__wrap__list {
  width: 20%;
  padding: 0 0 0 2vw;
}
.l-Tblog__wrap__list-img {
  width: 100%;
}
.l-Tblog__wrap__list__date {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}
.l-Tblog__wrap__list__text {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.l-Tabout {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 10rem 0;
}
.l-Tabout::after {
  content: "";
  position: absolute;
  top: 0;
  width: 85%;
  height: 100%;
  background: #fff;
  opacity: 0.2;
  left: 0;
  z-index: -1;
}
.l-Tabout::before {
  content: "";
  position: absolute;
  top: 1vw;
  width: 85%;
  height: 100%;
  background: #FFE8B7;
  opacity: 0.3;
  left: 1vw;
  z-index: -2;
}
.l-Tabout__wrap {
  padding: 5vw 0 3vw 10vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.l-Tabout__wrap-ttl {
  font-size: 2.4vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: relative;
  letter-spacing: 0.8%;
  color: #2F9B9B;
  letter-spacing: 0.2rem;
}
.l-Tabout__wrap-ttl::after {
  content: "";
  width: 3px;
  height: 2vw;
  position: absolute;
  right: 1.3vw;
  top: 10vw;
  border-radius: 5px;
  background: #2F9B9B;
}
.l-Tabout__wrap-img {
  width: 40%;
}
.l-Tabout__wrap__textarea {
  font-size: 1rem;
  line-height: 2vw;
  letter-spacing: 0.3rem;
  margin: 3vw 0 0 5vw;
  width: 35%;
}
.l-Tabout__wrap__textarea-text :last-child {
  margin: 2rem 0 0 0;
}

.l-Tmenu-ttl {
  font-size: 2.4vw;
  color: #2F9B9B;
  padding: 0 0 2vw 10vw;
  letter-spacing: 0.2rem;
}
.l-Tmenu__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.l-Tmenu__slider__img {
  padding: 0 0 0 10vw;
  width: 40%;
}
.l-Tmenu__slider__textarea {
  width: 45%;
  margin: 0 0 0 4vw;
  position: relative;
}
.l-Tmenu__slider__textarea-box {
  width: 20%;
  text-align: center;
  font-size: 1vw;
  padding: 1.2vw;
  color: #fff;
  background: #2F9B9B;
}
.l-Tmenu__slider__ttlwrap {
  font-size: 2vw;
  margin: 3.5vw 0 0 0;
}
.l-Tmenu__slider__ttlwrap-ttl {
  color: #2F9B9B;
  margin: 1vw 0 0 0;
}
.l-Tmenu__slider__ttlwrap-text {
  margin: 1vw 0 0 0;
  line-height: 2vw;
  font-size: 0.8vw;
}
.l-Tmenu__slider__detail {
  margin: 4.5vw 0 0 0;
  font-size: 1vw;
}
.l-Tmenu__slider__detail-ttl {
  letter-spacing: 0.2vw;
  color: #2F9B9B;
}
.l-Tmenu__slider__detail-text {
  margin-top: 0.4vw;
  letter-spacing: 0.2vw;
}
.l-Tmenu__slider-button {
  width: 30%;
  position: absolute;
  font-size: 0.8vw;
  bottom: 2vw;
  right: 6vw;
  text-align: center;
  padding: 0.8vw;
  border: 1px solid #2F9B9B;
  color: #2F9B9B;
}
.l-Tmenu .swiper {
  width: 100%;
  height: 100%;
}
.l-Tmenu .swiper-button-next::after {
  color: #2F9B9B;
  position: absolute;
  right: 2rem;
}
.l-Tmenu .swiper-button-prev::after {
  color: #2F9B9B;
  position: absolute;
  left: 2rem;
}

.l-Tfacility {
  margin-top: 10rem;
  position: relative;
}
.l-Tfacility__ttl {
  font-size: 2.4vw;
  color: #2F9B9B;
  padding: 0 0 0 10vw;
  letter-spacing: 0.2rem;
}
.l-Tfacility__wrap {
  width: 100%;
}
.l-Tfacility__textwrap {
  width: 40%;
  color: white;
  font-size: 0.8rem;
  padding: 3vw 0 3vw 10vw;
  margin-top: 15vw;
  position: relative;
}
.l-Tfacility__textwrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #2F9B9B;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.l-Tfacility__textwrap-ttl {
  letter-spacing: 0.4rem;
  font-size: 1.2vw;
}
.l-Tfacility__textwrap-text {
  width: 65%;
  font-size: 0.8vw;
  letter-spacing: 0.4rem;
  line-height: 1.5vw;
  margin: 1.2rem 0 0 0;
}
.l-Tfacility__imglist {
  width: 100%;
  position: absolute;
  margin: 6vw 0 0 0;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.l-Tfacility__imglist-item {
  width: 31%;
  margin: 0 0 0 1rem;
}

.l-Taccess {
  width: 100%;
  height: 100%;
  background: #2F9B9B;
  margin-top: 15rem;
  padding: 0 0 5vw 0;
  position: relative;
}
.l-Taccess::after {
  content: "";
  background-image: url(/src/img/flower-object.png);
  width: 100px;
  background-size: 100%;
  height: 155px;
  position: absolute;
  top: -155px;
  left: 2%;
  z-index: 99;
}
.l-Taccess__ttl {
  width: 100%;
  font-size: 2.4vw;
  padding: 5vw 0 0 10vw;
  position: relative;
  color: #fff;
  letter-spacing: 0.4rem;
}
.l-Taccess__ttl::after {
  content: "";
  width: 4vw;
  height: 2px;
  position: absolute;
  left: 5vw;
  top: 6.5vw;
  background: #fff;
  border-radius: 5px;
}
.l-Taccess__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3vw 0 0 10vw;
}
.l-Taccess__wrap__textgroup {
  width: 35%;
  height: 100%;
  font-size: 1vw;
  color: #fff;
}
.l-Taccess__wrap__textgroup__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.l-Taccess__wrap__textgroup__list:not(:first-child) {
  margin: 3vw 0 0 0;
}
.l-Taccess__wrap__textgroup__list-ttl {
  width: 30%;
}
.l-Taccess__wrap__textgroup__list-impo {
  width: 100%;
}
.l-Taccess__wrap__textgroup__list-text {
  letter-spacing: 0.2rem;
  line-height: 2vw;
}
.l-Taccess__wrap-map {
  width: 60%;
}
.l-Taccess__wrap-map iframe {
  width: 70%;
  height: 100%;
}

.l-Tbooking {
  width: 100%;
  height: 100%;
  margin: 8vw 0;
}
.l-Tbooking__ttl {
  font-size: 2.4vw;
  text-align: center;
  color: #2F9B9B;
  letter-spacing: 0.8rem;
  position: relative;
}
.l-Tbooking__ttl p {
  font-size: 1.6vw;
  margin-top: 0.8vw;
  letter-spacing: 0.4rem;
}
.l-Tbooking__ttl::after {
  content: "";
  position: absolute;
  top: 8vw;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 2px;
  height: 5vw;
  background: #2F9B9B;
}
.l-Tbooking__wrap {
  margin: 15vw 0 0 0;
}
.l-Tbooking__wrap__text {
  font-size: 1vw;
  text-align: center;
  color: #2F9B9B;
}
.l-Tbooking__wrap__text:not(:first-child) {
  margin: 1.2rem 0 0 0;
}
.l-Tbooking__wrap__box {
  margin: 2.5rem auto;
  position: relative;
  width: 35vw;
  height: 10vw;
}
.l-Tbooking__wrap__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35vw;
  height: 10vw;
  background: rgba(47, 155, 155, 0.1058823529);
  z-index: -1;
}
.l-Tbooking__wrap__box-img {
  margin: 0 auto;
  width: 20%;
}
.l-Tbooking__wrap__box-text {
  font-size: 1.2vw;
  text-align: center;
  letter-spacing: 0.3rem;
  color: #2F9B9B;
}

.l-hero {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -999;
}
.l-hero__wrap {
  position: absolute;
  top: 250px;
  left: 7%;
  padding: 0 4vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99;
}
.l-hero__wrap-ttl {
  margin-top: 1rem;
  font-size: 3.5rem;
  letter-spacing: 8px;
}
.l-hero__wrap-text {
  width: 60vw;
  margin-top: 2rem;
  font-size: 1rem;
  letter-spacing: 1vmin;
  line-height: 1.8rem;
}
.l-hero__wrap-logo {
  width: 100%;
}
.l-hero__wrap-logo img {
  width: 10rem;
}
.l-hero-img {
  height: 90vh;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 0 4vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.l-hero-img img {
  width: 60vw;
  height: 80vmin;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 800px) {
  .l-hero {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -999;
  }
  .l-hero__wrap {
    width: 80%;
    height: 60vh;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 99;
  }
  .l-hero__wrap-ttl {
    position: absolute;
    bottom: 10rem;
    margin-top: 1rem;
    font-size: 6.4vw;
    letter-spacing: 8px;
  }
  .l-hero__wrap-text {
    position: absolute;
    bottom: 5rem;
    width: 60vw;
    font-size: 0.8rem;
    letter-spacing: 1vmin;
    line-height: 1.3rem;
  }
  .l-hero__wrap-logo {
    position: absolute;
  }
  .l-hero__wrap-logo img {
    display: none;
  }
  .l-hero-img {
    position: absolute;
    top: 120px;
    right: 0;
    padding: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .l-hero-img img {
    width: 80vw;
    height: 75vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/* object */
.c-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 4vw 0;
}

.c-Tblog-button {
  width: 100%;
  font-size: 1rem;
  color: #2F9B9B;
  text-align: right;
  margin: 2.5rem 0 0;
  padding: 0 4vw;
  position: relative;
  right: 2.5vw;
  letter-spacing: 0.1vw;
}
.c-Tblog-button::after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2vw;
  width: 10px;
  height: 10px;
  border-top: 1px solid #2F9B9B;
  border-right: 1px solid #2F9B9B;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-Tabout-button {
  width: 100%;
  color: #2F9B9B;
  font-size: 1rem;
  text-align: right;
  margin: 2rem 0 0;
  padding: 0 4vw;
  position: relative;
  right: 2.5vw;
  letter-spacing: 0.1vw;
}
.c-Tabout-button::after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2vw;
  width: 10px;
  height: 10px;
  border-top: 1px solid #2F9B9B;
  border-right: 1px solid #2F9B9B;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-Tfacility-button {
  width: 100%;
  font-size: 1rem;
  color: #fff;
  position: relative;
  letter-spacing: 0.1vw;
  margin-top: 2vw;
}
.c-Tfacility-button::after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7vw;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-booking__btn {
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgb(47, 155, 155);
  font-size: 0.8rem;
  background: white;
  margin: 20px 34px;
  padding: 0.4rem 1rem;
  cursor: pointer;
}
.c-booking__btn-img {
  width: 20%;
}
.c-booking__btn-img img {
  width: 100%;
}

.u-margin {
  margin: 1vw 0;
}

.u-padding {
  padding: 0;
}
/*# sourceMappingURL=map/style.css.map */