@use "../../foundation/base" as *;
@use "../../foundation/mixin" as *;

.c-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 4vw 0;
}

.c-Tblog-button {
    width: 100%;
    font-size: 1rem;
    color: $main-color;
    text-align: right;
    margin: 2.5rem 0 0;
    padding: 0 4vw;
    position: relative;
    right: 2.5vw;
    letter-spacing: .1vw;

    &::after {
        content: "";
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2vw;
        width: 10px;
        height: 10px;
        border-top: 1px solid $main-color;
        border-right: 1px solid $main-color;
        transform: rotate(45deg);
    }
}

@include sp {
    .c-Tblog-button {
        font-size: .8rem;
    }

    .c-Tabout-button {
        width: 100%;
        color: $main-color;
        font-size: 1rem;
        text-align: right;
        margin: 2rem 0 0;
        padding: 0 4vw;
        position: relative;
        right: 2.5vw;
        letter-spacing: .1vw;

        &::after {
            content: "";
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 2vw;
            width: 10px;
            height: 10px;
            border-top: 1px solid $main-color;
            border-right: 1px solid $main-color;
            transform: rotate(45deg);
        }
    }

    @include sp {
        .c-Tabout-button {
            width: 100%;
            color: $main-color;
            text-align: left;
            font-size: .8rem;
            margin: 2rem 0 .8rem 0;
            position: relative;
            letter-spacing: .1vw;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 2rem;
                width: 10px;
                height: 10px;
                border-top: 1px solid $main-color;
                border-right: 1px solid $main-color;
                transform: rotate(45deg);
            }
        }
    }




    .c-Tfacility-button {
        width: 100%;
        font-size: 1rem;
        color: #fff;
        position: relative;
        letter-spacing: .1vw;
        margin-top: 3vw;

        &::after {
            content: "";
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 7vw;
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
        }
    }

    @include sp {
        .c-Tfacility-button {
            width: 100%;
            font-size: .8rem;
            color: #fff;
            position: relative;
            letter-spacing: .1vw;
            margin-top: 7vw;

            &::after {
                content: "";
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 7vw;
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
            }
        }
    }







    .c-booking__btn {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(47, 155, 155);
        font-size: 0.8rem;
        background: white;
        margin: 20px 34px;
        padding: 1rem 1rem;
        cursor: pointer;

        &-img {
            width: 20%;

            img {
                width: 100%;
            }
        }
    }