///--------------header strat-----------------///
@use "../foundation/base" as *;
@use "../foundation/mixin" as *;


///--------------pc header start-----------------///

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .l-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 4vw;
        transition: all 0.3s;
        margin: 0;
        // @include tab {
        //     display: none;
        // }

        // @include sp {
        //     display: none;
        // }

        a {
            width: 100%;
            cursor: pointer;
        }

        &__logo {
            width: 20%;

            img {
                width: 80px;
                height: 64px;
            }
        }

        &__nav {
            width: 70%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 1rem;

            &-list {
                margin: 0 0 0 1.5rem;
            }
        }

        @include sp {
            display: none;
        }
    }
}

///--------------pc header end-----------------///



///--------------sp header start-----------------///
.l-header__ham {
    &-logo {
        width: 20%;
        position: fixed;
        top: 30px;
        left: 30px;
        z-index: -1;

        img {
            width: 80px;
            height: 64px;
        }
    }

    #menu__toggle {
        opacity: 0;

        &:checked~ {
            .menu__btn {
                border: 1px solid #fff;
            }

            .menu__btn>span {
                transform: rotate(45deg);
                width: 35px;
                position: absolute;
                right: 7px;

                &::before {
                    top: 0;
                    transform: rotate(0);
                    background: #fff;

                }

                &::after {
                    top: 0;
                    transform: rotate(90deg);
                    background: #fff;
                }
            }

            .menu__content {
                visibility: visible;
                right: 0;
                z-index: -1;
            }
        }
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 25px;
        right: 25px;
        width: 50px;
        height: 50px;
        border: 1px solid #2F9B9B;
        cursor: pointer;
        z-index: 999;

        .menu__btn__bar {
            display: block;
            position: absolute;
            right: 7px;
            width: 100%;
            width: 35px;
            height: 1px;
            background-color: #2F9B9B;
            transition-duration: 0.5s;

            &::before,
            &::after {
                @extend .menu__btn__bar;
                content: "";
            }

            &::before {
                top: -8px;
                left: 0;
                content: "";
            }

            &::after {
                top: 8px;
                left: 0;
                content: "";
            }
        }
    }

    .menu__content {
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 300px;
        height: 100%;
        display: block;
        right: -100%;
        margin: 0;
        padding: 12rem 0;
        list-style: none;
        background-color: #2F9B9B;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
        transition-duration: 0.5s;
        // &::after {
        //     content: "";
        //     background-image: url(/src/img/logo.png);
        //     width: 80px;
        //     height: 64px;
        //     background-size: 100%;
        //     background-repeat: no-repeat;
        //     position: absolute;
        //     top: 30px;
        //     left: 30px;
        //     z-index: 99;
        // }

        &-text {
            display: block;
            padding: 12px 34px;
            transition-duration: 0.25s;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.4rem;
            }

        }
    }


    @include pc {
        display: none;
    }
}

///--------------sp header end-----------------///