@use "../foundation/base" as *;
@use "../foundation/mixin" as *;


.l-hero {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -999;

    &__wrap {
        position: absolute;
        top: 250px;
        left: 7%;
        padding: 0 4vw;
        transition: all 0.3s;
        z-index: 99;

        &-ttl {
            margin-top: 1rem;
            font-size: 3.5rem;
            letter-spacing: 8px;
        }

        &-text {
            width: 60vw;
            margin-top: 2rem;
            font-size: 1rem;
            letter-spacing: 1vmin;
            line-height: 1.8rem;
        }

        &-logo {
            width: 100%;

            img {
                width: 10rem;
            }
        }
    }

    &-img {
        height: 90vh;
        position: absolute;
        top: 100px;
        right: 0;
        padding: 0 4vw;
        transition: all 0.3s;



        img {
            width: 60vw;
            height: 80vmin;
            object-fit: cover;
        }
    }
}


@include sp {
    .l-hero {
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: -999;

        &__wrap {
            width: 80%;
            height: 60vh;
            transition: all 0.3s;
            z-index: 99;

            &-ttl {
                position: absolute;
                bottom: 10rem;
                margin-top: 1rem;
                font-size: 6.4vw;
                letter-spacing: 8px;
            }

            &-text {
                position: absolute;
                bottom: 5rem;
                width: 60vw;
                font-size: .8rem;
                letter-spacing: 1vmin;
                line-height: 1.3rem;
            }

            &-logo {
                position: absolute;

                img {
                    display: none;
                }
            }
        }

        &-img {
            position: absolute;
            top: 120px;
            right: 0;
            padding: 0;
            transition: all 0.3s;

            img {
                width: 80vw;
                height: 75vh;
                object-fit: cover;
            }
        }
    }
}