// ---------------------------- blog  start------------------------
@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.l-Tblog {
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 85%;
        height: 100%;
        background: #fff;
        opacity: .2;
        right: 0;
        z-index: -1;
    }

    &::before {
        content: "";
        position: absolute;
        top: 1vw;
        width: 85%;
        height: 100%;
        background: #FFE8B7;
        opacity: .3;
        right: 1vw;
        z-index: -2;
    }

    &__wrap {
        overflow-x: scroll;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 0 0 0 auto;
        padding: 4vw 4vw 0;
        transition: all .3s;

        &-ttl {
            font-size: 2.4vw;
            writing-mode: vertical-rl;
            margin: 0 5vw 0 0;
            position: relative;
            letter-spacing: .8%;
            color: #2F9B9B;
            border-radius: 5px;
            letter-spacing: .2rem;

            &::after {
                content: "";
                width: 2px;
                height: 2vw;
                position: absolute;
                right: 1.5vw;
                top: 9vw;
                background: #2F9B9B;
                border-radius: 5px;
            }
        }

        &__list {
            width: 20%;
            padding: 0 0 0 2vw;

            &-img {
                width: 100%;
            }

            &__date {
                font-size: .8rem;
                margin-top: .8rem;
            }

            &__text {
                font-size: .8rem;
                margin-top: .8rem;
            }
        }
    }
}

// ---------------------------sp blog  end ---------------------------------

@include sp {
    .l-Tblog {
        width: 100%;
        height: 100%;
        position: relative;

        &__wrap {
            overflow-x: scroll;
            padding: 4vw 4vw 0;
            transition: all .3s;

            &-ttl {
                &::after {
                    content: "";
                    width: 3px;
                    height: 2vw;
                    position: absolute;
                    right: 1.5vw;
                    top: 8vw;
                    background: $main-color;
                    border-radius: 5px;
                }
            }

            &__list {
                padding: 0 0 0 2vw;

                &-img {
                    width: 100%;
                }

                &__date {
                    font-size: .8rem;
                    margin-top: .8rem;
                }

                &__text {
                    font-size: .8rem;
                    margin-top: .8rem;
                }
            }
        }
    }
}







// --------------------------- blog  end ---------------------------------



// --------------------------- about  start -------------------------------

.l-Tabout {
    width: 100%;
    height: 100%;
    // background: aqua;
    position: relative;
    margin: 10rem 0;



    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 85%;
        height: 100%;
        background: #fff;
        opacity: .2;
        left: 0;
        z-index: -1;
    }

    &::before {
        content: "";
        position: absolute;
        top: 1vw;
        width: 85%;
        height: 100%;
        background: #FFE8B7;
        opacity: .3;
        left: 1vw;
        z-index: -2;
    }


    &__wrap {
        padding: 5vw 0 3vw 10vw;
        display: flex;

        &-ttl {
            font-size: 2.4vw;
            writing-mode: vertical-rl;
            position: relative;
            letter-spacing: .8%;
            color: #2F9B9B;
            letter-spacing: .2rem;

            &::after {
                content: "";
                width: 2px;
                height: 2vw;
                position: absolute;
                right: 1.3vw;
                top: 11vw;
                border-radius: 5px;
                background: #2F9B9B;
            }
        }

        &-img {
            width: 40%;
        }

        &__textarea {
            font-size: 1rem;
            line-height: 2vw;
            letter-spacing: .3rem;
            margin: 3vw 0 0 5vw;
            width: 35%;

            &-text {
                :last-child {
                    margin: 2rem 0 0 0;
                }
            }
        }
    }

}


@include sp {
    .l-Tabout {
        width: 100%;
        height: 100%;
        // background: aqua;
        position: relative;
        margin: 10rem 0;



        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 85%;
            height: 100%;
            background: #fff;
            opacity: .2;
            left: 0;
            z-index: -1;
        }

        &::before {
            content: "";
            position: absolute;
            top: 1vw;
            width: 85%;
            height: 100%;
            background: #FFE8B7;
            opacity: .3;
            left: 1vw;
            z-index: -2;
        }


        &__wrap {
            padding: 5vw 0 3vw 5vw;
            display: block;

            &-ttl {

                display: none;

                &::after {
                    content: "";
                    width: 3px;
                    height: 2vw;
                    position: absolute;
                    right: 1.3vw;
                    top: 10vw;
                    border-radius: 5px;
                    background: $main-color;
                }
            }

            &-img {
                width: 70%;
                position: relative;

                &::after {
                    content: "ABOUT";
                    writing-mode: vertical-rl;
                    position: absolute;
                    top: 0;
                    right: -15vw;
                    font-size: 4vw;
                    color: $main-color;
                }

                &::before {
                    content: "";
                    width: 2px;
                    height: 4vw;
                    position: absolute;
                    right: -12.5vw;
                    top: 15.5vw;
                    border-radius: 5px;
                    background: $main-color;
                }
            }

            &__textarea {
                font-size: 2.4vw;
                line-height: 3.5vw;
                letter-spacing: .3rem;
                margin: 5vw 0 0 0;
                width: 60%;

                &-text {
                    :last-child {
                        margin: 2rem 0 0 0;
                    }
                }
            }
        }
    }


}

// ----------------------------sp about  end --------------------------------


// ---------------------------- about  end --------------------------------





// --------------------------- menu start -------------------------------

.l-Tmenu {
    &-ttl {
        font-size: 2.4vw;
        color: $main-color;
        padding: 0 0 2vw 10vw;
        letter-spacing: .2rem;
    }

    &__slider {
        display: flex;
        position: relative;

        &__img {
            padding: 0 0 0 10vw;
            width: 40%;
        }


        &__textarea {
            width: 45%;
            margin: 0 0 0 4vw;
            position: relative;

            &-box {
                width: 20%;
                text-align: center;
                font-size: 1vw;
                padding: 1.2vw;
                color: #fff;
                background: #2F9B9B;
            }
        }

        &__ttlwrap {
            font-size: 2vw;
            margin: 3.5vw 0 0 0;

            &-ttl {
                color: $main-color;
                margin: 1vw 0 0 0;
            }

            &-text {
                margin: 1vw 0 0 0;
                line-height: 2vw;
                font-size: .8vw;
            }
        }

        &__detail {
            margin: 4.5vw 0 0 0;
            font-size: 1vw;

            &-ttl {
                letter-spacing: .2vw;
                color: $main-color;
            }

            &-text {
                margin-top: .4vw;
                letter-spacing: .2vw;
            }
        }

        &-button {
            width: 30%;
            position: absolute;
            font-size: .8vw;
            bottom: 2vw;
            right: 6vw;
            text-align: center;
            padding: .8vw;
            border: 1px solid $main-color;
            color: $main-color;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;

        &-button-next {
            &::after {
                color: $main-color;
                position: absolute;
                right: 2rem;
            }
        }

        &-button-prev {
            &::after {
                color: $main-color;
                position: absolute;
                left: 2rem;
            }

        }
    }
}


@include sp {
    .l-Tmenu {
        &-ttl {
            font-size: 7vw;
            padding: 0;
            margin: 1.2rem 0;
            text-align: center;
            color: $main-color;
        }

        &__slider {
            display: block;
            position: relative;

            &__img {
                width: 80%;
                height: 50vh;
                margin: 0 auto;
                padding: 0;

                img {
                    width: 100%;
                    height: 50vh;
                    object-fit: cover;
                }
            }

            &__textarea {
                width: 80%;
                margin: 1rem auto;
                padding: 0;
                position: relative;

                &-box {
                    width: 30%;
                    text-align: center;
                    font-size: 1.5vw;
                    padding: 1.8vw;
                    color: #fff;
                    background: #2F9B9B;
                }
            }

            &__ttlwrap {
                font-size: 5vw;
                margin: 3.5vw 0 0 0;

                &-ttl {
                    color: $main-color;
                    margin: 1vw 0 0 0;
                }

                &-text {
                    margin: 2vw 0 0 0;
                    line-height: 3.5vw;
                    font-size: 1.5vw;
                }
            }

            &__detail {
                margin: 4.5vw 0 0 0;
                font-size: 1vw;

                &-ttl {
                    letter-spacing: .2vw;
                    color: $main-color;
                }

                &-text {
                    margin-top: .4vw;
                    letter-spacing: .2vw;
                }
            }

            &-button {
                width: 30%;
                position: absolute;
                font-size: .8vw;
                bottom: -2vw;
                right: 6vw;
                text-align: center;
                padding: .8vw;
                border: 1px solid $main-color;
                color: $main-color;
            }
        }

        .swiper {
            width: 100%;
            height: 100%;

            &-button-next {
                &::after {
                    color: $main-color;
                    position: absolute;
                    font-size: .8rem;
                    bottom: -40vw;
                    right: 1vw;
                    font-size: 1.5rem;
                }
            }

            &-button-prev {
                &::after {
                    color: $main-color;
                    position: absolute;
                    font-size: .8rem;
                    bottom: -40vw;
                    left: 1vw;
                    font-size: 1.5rem;
                }

            }
        }
    }

}




// --------------------------- menu end ---------------------------------



// --------------------------- facility strat ---------------------------------

.l-Tfacility {
    margin-top: 10rem;
    position: relative;

    &__ttl {
        font-size: 2.4vw;
        color: $main-color;
        padding: 0 0 0 10vw;
        letter-spacing: .2rem;
    }

    &__wrap {
        width: 100%;
    }

    &__textwrap {
        width: 40%;
        color: white;
        font-size: .8rem;
        padding: 3vw 0 3vw 10vw;
        margin-top: 15vw;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: $main-color;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        &-ttl {
            letter-spacing: .4rem;
            font-size: 2.2vw;
        }

        &-text {
            width: 65%;
            font-size: .8vw;
            letter-spacing: .4rem;
            line-height: 1.5vw;
            margin: 1.2rem 0 0 0;
        }
    }

    &__imglist {
        width: 100%;
        position: absolute;
        margin: 6vw 0 0 0;
        right: 0;
        top: 0;
        display: flex;
        justify-content: flex-end;

        &-item {
            width: 31%;
            margin: 0 0 0 1rem;
        }
    }
}

// --------------------------- facility end ---------------------------------------


// ---------------------------sp facility strat -----------------------------------


// ---------------------------pc facility end -------------------------------------


@include sp {
    .l-Tfacility {
        margin-top: 10rem;
        position: relative;

        &__ttl {
            font-size: 7vw;
            padding: 0;
            text-align: center;
            color: $main-color;
        }

        &__wrap {
            width: 100%;
        }

        &__textwrap {
            width: 100%;
            color: white;
            font-size: 2.4rem;
            padding: 20vw 0 15vw 12vw;
            margin-top: 65vw;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background: $main-color;
                width: 100%;
                height: 100%;
                z-index: -1;
            }

            &-ttl {
                letter-spacing: .4rem;
                font-size: 5.5vw;
            }

            &-text {
                width: 80%;
                font-size: 1.8vw;
                letter-spacing: .4rem;
                line-height: 3vw;
                margin: 1.2rem 0 0 0;
            }
        }

        &__imglist {
            width: 100%;
            display: block;

            &-item {
                width: 80%;
                margin: 3rem auto 0 auto;
            }
        }
    }

    .none {
        display: none;
    }
}




// --------------------------- facility end -----------------------------------




// --------------------------- access strat -----------------------------------


.l-Taccess {
    width: 100%;
    height: 100%;
    background: $main-color;
    margin-top: 15rem;
    padding: 0 0 5vw 0;
    position: relative;

    &::after {
        content: "";
        background-image: url(/src/img/flower-object.png);
        width: 100px;
        background-size: 100%;
        height: 155px;
        position: absolute;
        top: -155px;
        left: 2%;
        z-index: 99;
    }

    &__ttl {
        width: 100%;
        font-size: 2.4vw;
        padding: 5vw 0 0 10vw;
        position: relative;
        color: #fff;
        letter-spacing: .4rem;

        &::after {
            content: "";
            width: 4vw;
            height: 2px;
            position: absolute;
            left: 5vw;
            top: 6.5vw;
            background: #fff;
            border-radius: 5px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin: 3vw 0 0 10vw;

        &__textgroup {
            width: 35%;
            height: 100%;
            font-size: 1vw;
            color: #fff;

            &__list {
                display: flex;

                &:not(:first-child) {
                    margin: 3vw 0 0 0;
                }

                &-ttl {
                    width: 30%;
                }

                &-impo {
                    width: 100%;
                }

                &-text {
                    letter-spacing: .2rem;
                    line-height: 2vw;
                    // margin: 0 0 0 2vw;
                }
            }
        }


        &-map {
            width: 60%;

            iframe {
                width: 70%;
                height: 100%;
            }
        }
    }

}

// --------------------------- access end -----------------------------------------




// ---------------------------sp access strat -------------------------------------


@include sp {
    .l-Taccess {
        width: 100%;
        height: 100%;
        background: $main-color;
        margin-top: 15rem;
        padding: 0 0 7vw 0;
        position: relative;

        &::after {
            content: "";
            background-image: url(/src/img/flower-object.png);
            width: 50px;
            background-repeat: no-repeat;
            background-size: 100%;
            height: 155px;
            position: absolute;
            top: -78px;
            left: 2%;
            z-index: 99;
        }

        &__ttl {
            width: 100%;
            font-size: 7vw;
            padding: 0;
            position: relative;
            top: -20vw;
            text-align: center;
            color: $main-color;
            letter-spacing: .4rem;

            &::after {
                content: "";
                display: none;
            }
        }

        &__wrap {
            display: block;
            margin: 0 0 0 0;

            &__textgroup {
                width: 80%;
                height: 100%;
                margin: 0 auto 2rem auto;
                font-size: 1vw;
                color: #fff;

                &__list {
                    display: block;

                    &:not(:first-child) {
                        margin: 3vw 0 0 0;
                    }

                    &-ttl {
                        width: 100%;
                        letter-spacing: .1rem;
                        font-size: 3.5vw;
                    }

                    &-impo {
                        width: 100%;
                        text-align: right;
                    }

                    &-text {
                        letter-spacing: .2rem;
                        line-height: 3vw;
                        border-bottom: 1px solid #fff;
                        padding: 2vw 0;
                        // margin: 0 0 0 2vw;
                    }
                }
            }

            &-map {
                width: 80%;
                margin: 0 auto;

                iframe {
                    width: 100%;
                    height: 30vh;
                }
            }
        }

    }

}

// ---------------------------sp access end -------------------------------------



// --------------------------- booking end -------------------------------------

.l-Tbooking {
    width: 100%;
    height: 100%;
    margin: 8vw 0;

    &__ttl {
        font-size: 2.4vw;
        text-align: center;
        color: $main-color;
        letter-spacing: .8rem;
        position: relative;

        p {
            font-size: 1.6vw;
            margin-top: .8vw;
            letter-spacing: .4rem;
        }

        &::after {
            content: "";
            position: absolute;
            top: 8vw;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 1px;
            height: 5vw;
            background: $main-color;
        }
    }

    &__wrap {
        margin: 15vw 0 0 0;

        &__text {
            font-size: 1vw;
            text-align: center;
            color: $main-color;

            &:not(:first-child) {
                margin: .6rem 0 0 0;
            }
        }

        &__box {
            margin: 2.5rem auto;
            position: relative;
            width: 35vw;
            height: 10vw;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 35vw;
                height: 10vw;
                background: #2f9b9b1b;
                z-index: -1;
            }


            &-img {
                margin: 0 auto;
                width: 20%;
            }

            &-text {
                font-size: 1.2vw;
                text-align: center;
                letter-spacing: .3rem;
                color: $main-color;
            }
        }
    }
}


// --------------------------- booking end -------------------------------------


// ---------------------------sp booking strat ---------------------------------

@include sp {
    .l-Tbooking {
        width: 100%;
        height: 100%;
        margin: 20vw 0;

        &__ttl {
            font-size: 7vw;
            text-align: center;
            letter-spacing: .2rem;
            color: $main-color;
            position: relative;

            p {
                font-size: 2.4vw;
                margin-top: 2.4vw;
            }

            &::after {
                content: "";
                position: absolute;
                top: 15vw;
                left: 50%;
                transform: translate(-50%, 50%);
                width: 1px;
                height: 10vw;
                background: $main-color;
            }
        }

        &__wrap {
            margin: 25vw 0 0 0;

            &__text {
                font-size: .8vw;
                text-align: center;
                color: $main-color;

                &:not(:first-child) {
                    margin: .6rem 0 0 0;
                }
            }

            &__box {
                margin: 2.5rem auto;
                position: relative;
                width: 60vw;
                height: 10vh;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 60vw;
                    height: 10vh;
                    background: #2f9b9b1b;
                    z-index: -1;
                }


                &-img {
                    margin: 0 auto;
                    width: 20%;
                }

                &-text {
                    font-size: 1.2vw;
                    text-align: center;
                    letter-spacing: .3rem;
                    color: $main-color;
                }
            }
        }
    }

}

// ---------------------------sp booking end -------------------------------------